In [1]:
import pandas as pd
import numpy as np

In [6]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel', 'Omar Mullins'],
'age': [20, 19, 22, 21, 24],
'favorite_color': ['blue', 'blue', 'yellow', "green", "yellow"],
'grade': [88, 92, 95, 70, 86]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel', 'Omar Mullins'])
df

                              name  age favorite_color  grade
Willard Morris      Willard Morris   20           blue     88
Al Jennings            Al Jennings   19           blue     92
Omar Mullins          Omar Mullins   22         yellow     95
Spencer McDaniel  Spencer McDaniel   21          green     70
Omar Mullins          Omar Mullins   24         yellow     86

In [7]:
df = df.drop_duplicates(subset=['favorite_color', 'name'], keep="first")
df

                              name  age favorite_color  grade
Willard Morris      Willard Morris   20           blue     88
Al Jennings            Al Jennings   19           blue     92
Omar Mullins          Omar Mullins   22         yellow     95
Spencer McDaniel  Spencer McDaniel   21          green     70