# This is for cleaning the big dataset from spotify.

## Importing large dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm


import re

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import csv
import requests
import json
from pandas.io.json import json_normalize
from urllib.request import urlopen

In [2]:
data = pd.read_csv("charts/charts.csv")

## Inspecting the data

In [3]:
data.shape

(26173514, 9)

In [4]:
data.columns

Index(['title', 'rank', 'date', 'artist', 'url', 'region', 'chart', 'trend',
       'streams'],
      dtype='object')

In [5]:
#See the attribute labels
list(data)

['title',
 'rank',
 'date',
 'artist',
 'url',
 'region',
 'chart',
 'trend',
 'streams']

## Data Exploration

In [6]:
#Attribute types
data.dtypes

title       object
rank         int64
date        object
artist      object
url         object
region      object
chart       object
trend       object
streams    float64
dtype: object

In [7]:
# Getting some insights of the value scope

data.describe()

               rank       streams
count  2.617351e+07  2.032190e+07
mean   8.092314e+01  5.526131e+04
std    5.918601e+01  2.095872e+05
min    1.000000e+00  1.001000e+03
25%    2.900000e+01  3.546000e+03
50%    6.700000e+01  9.565000e+03
75%    1.310000e+02  3.540900e+04
max    2.000000e+02  1.974970e+07

In [8]:
data.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [9]:
data.tail()

,title,rank,date,artist,url,region,chart,trend,streams
26173509,BYE,46,2021-07-31,Jaden,https://open.spotify.com/track/3OUyyDN7EZrL7i0...,Vietnam,viral50,MOVE_UP,NaN
26173510,Pillars,47,2021-07-31,My Anh,https://open.spotify.com/track/6eky30oFiQbHUAT...,Vietnam,viral50,NEW_ENTRY,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,https://open.spotify.com/track/2klsSb2iTfgDh95...,Vietnam,viral50,MOVE_DOWN,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,https://open.spotify.com/track/1aU1wpYBSpP0M6I...,Vietnam,viral50,MOVE_DOWN,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",https://open.spotify.com/track/508QhA2SncMbh5C...,Vietnam,viral50,MOVE_DOWN,NaN

In [12]:
# Finding unique types in chart
data.chart.unique()

array(['top200', 'viral50'], dtype=object)

**There are two different values in "Chart", top200 and viral50.**

In this project we are interested in inspecting and operating on data for the top chart of spotify. This is in our opinion the 'top200'-list, as the 'viral50'-list is a list determinated by Social media. The more talk and chatting on a specific track, determine the probability of ending up on the 'viral50'-list.
This is the reason we  remove this from the dataset.

In [14]:
#How many entries in the 'viral50'
data.chart.value_counts()

top200     20321904
viral50     5851610
Name: chart, dtype: int64

In [19]:
data = data[data.chart.str.contains("viral50") == False]

In [20]:
data.chart.value_counts()

top200    20321904
Name: chart, dtype: int64

In [21]:
data.shape

(20321904, 9)

The dataset has beed reduced by the 5851610 'viral50' entries

**The dataset has a trend column. This is the movement of a song on the chart, whether it has moved up or down the chart. 
We know that this dataset is collected weekley, and therefore there are dublicates of the songs on different positions. We are not interested in the same song multiple times, so we will try to remove these dublicates so we can get a much cleaner dataset.