# This is for cleaning the big dataset from spotify.

## Importing large dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm


import re

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import csv
import requests
import json
from pandas.io.json import json_normalize
from urllib.request import urlopen

In [2]:
data = pd.read_csv("charts/charts.csv")

## Inspecting the data

In [3]:
data.shape

(26173514, 9)

In [4]:
data.columns

Index(['title', 'rank', 'date', 'artist', 'url', 'region', 'chart', 'trend',
       'streams'],
      dtype='object')

In [5]:
#See the attribute labels
list(data)

['title',
 'rank',
 'date',
 'artist',
 'url',
 'region',
 'chart',
 'trend',
 'streams']

## Data Exploration

In [6]:
#Attribute types
data.dtypes

title       object
rank         int64
date        object
artist      object
url         object
region      object
chart       object
trend       object
streams    float64
dtype: object

In [7]:
# Getting some insights of the value scope

data.describe()

               rank       streams
count  2.617351e+07  2.032190e+07
mean   8.092314e+01  5.526131e+04
std    5.918601e+01  2.095872e+05
min    1.000000e+00  1.001000e+03
25%    2.900000e+01  3.546000e+03
50%    6.700000e+01  9.565000e+03
75%    1.310000e+02  3.540900e+04
max    2.000000e+02  1.974970e+07

In [8]:
data.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [9]:
data.tail()

,title,rank,date,artist,url,region,chart,trend,streams
26173509,BYE,46,2021-07-31,Jaden,https://open.spotify.com/track/3OUyyDN7EZrL7i0...,Vietnam,viral50,MOVE_UP,NaN
26173510,Pillars,47,2021-07-31,My Anh,https://open.spotify.com/track/6eky30oFiQbHUAT...,Vietnam,viral50,NEW_ENTRY,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,https://open.spotify.com/track/2klsSb2iTfgDh95...,Vietnam,viral50,MOVE_DOWN,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,https://open.spotify.com/track/1aU1wpYBSpP0M6I...,Vietnam,viral50,MOVE_DOWN,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",https://open.spotify.com/track/508QhA2SncMbh5C...,Vietnam,viral50,MOVE_DOWN,NaN

In [10]:
# Finding unique types in chart
data.chart.unique()

array(['top200', 'viral50'], dtype=object)

**There are two different values in "Chart", top200 and viral50.**

In this project we are interested in inspecting and operating on data for the top chart of spotify. This is in our opinion the 'top200'-list, as the 'viral50'-list is a list determinated by Social media. The more talk and chatting on a specific track, determine the probability of ending up on the 'viral50'-list.
This is the reason we  remove this from the dataset.

In [11]:
#How many entries in the 'viral50'
data.chart.value_counts()

top200     20321904
viral50     5851610
Name: chart, dtype: int64

In [12]:
data = data[data.chart.str.contains("viral50") == False]

In [13]:
data.chart.value_counts()

top200    20321904
Name: chart, dtype: int64

In [14]:
data.shape

(20321904, 9)

The dataset has beed reduced by the 5851610 'viral50' entries

In [15]:
data.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

**The dataset has a trend column. This is the movement of a song on the chart, whether it has moved up or down the chart. We know that this dataset is collected weekley, and therefore there are dublicates of the songs on different positions. We are not interested in the same song multiple times, so we will try to remove these dublicates so we can get a much cleaner dataset.**


**The trend colum is in our oppinion not nessesary for analysing the dataset, while we do not make any mesurments on the movement of the individual tracks. This is the reason why we remove it.**

In [16]:
data.drop('trend', inplace=True, axis=1)

In [17]:
list(data)

['title', 'rank', 'date', 'artist', 'url', 'region', 'chart', 'streams']

**We also already know that every song in our dataset is from the top200 chart, this means that we can safely remove this column too**

In [18]:
data.drop('chart', inplace=True, axis=1)

In [19]:
list(data)

['title', 'rank', 'date', 'artist', 'url', 'region', 'streams']

In [20]:
data.shape

(20321904, 7)

**Now we check for null values in the dataset**

In [24]:
data.isnull().sum()

title      7
rank       0
date       0
artist     0
url        0
region     0
streams    0
dtype: int64

In [25]:
print(data[data['title'].isnull()])

        title  rank        date artist  \
7305002   NaN   120  2019-06-24  Nissy
7401555   NaN   167  2019-06-25  Nissy
7479161   NaN   128  2019-06-26  Nissy
7563494   NaN   164  2019-06-27  Nissy
7670140   NaN   174  2019-06-28  Nissy
7772268   NaN   188  2019-06-29  Nissy
7879888   NaN   169  2019-06-30  Nissy

                                                       url region  streams
7305002  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan  11942.0
7401555  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan  10310.0
7479161  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan  11620.0
7563494  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan  10229.0
7670140  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan   9348.0
7772268  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan   9808.0
7879888  https://open.spotify.com/track/4cP6KmNvTFkLHZo...  Japan  10900.0

**Examin the data for null values, shows 7 entries which is by the same artist. We decide to remove the 7 entries containing null values, as this wont have a substancial impact on our dataset and the futur processing of our data.**

In [26]:
data.dropna(subset=['title'], inplace=True)

In [27]:
data.shape

(20321897, 7)

In [29]:
data.isnull().sum()

title      0
rank       0
date       0
artist     0
url        0
region     0
streams    0
dtype: int64

### Finding dublicates

**The dataset consists of a lot of dublicates. As mentioned before the column "trend" as we previously removed, showed the placement on the list weekly.**

**We will now be looking for these dublicates and only keeping one of each instance. To keep the dataset as correct as possible, we are going to keep one of each dublicated entries in our dataset. We will keep the entry that has been placed highest on the top 200 list.**

In [54]:
#sorted_data = data

**We will concat the two columns: "artist" and "title" in a new column called concat**

**Then we will search for dublicates on this column, and keep the one highest in the "rank" column"**

In [55]:
data["concat"] = data["artist"] + " " + data["title"]

In [69]:
data.head()

,title,rank,date,artist,url,region,streams,concat
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,253019.0,Shakira Chantaje (feat. Maluma)
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,223988.0,Ricky Martin Vente Pa' Ca (feat. Maluma)
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,210943.0,CNCO Reggaetón Lento (Bailemos)
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,173865.0,"J Balvin, Pharrell Williams, BIA, Sky Safari"
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,153956.0,Daddy Yankee Shaky Shaky

In [70]:
data.tail()

,title,rank,date,artist,url,region,streams,concat
25276069,Ojalá (feat. Darell),196,2018-01-31,"De La Ghetto, Almighty, Bryant Myers",https://open.spotify.com/track/3EMDvnVpQd9RZJv...,Uruguay,1178.0,"De La Ghetto, Almighty, Bryant Myers Ojalá (fe..."
25276070,Lo Que Pasa en la Noche,197,2018-01-31,Mano Arriba,https://open.spotify.com/track/2eOleVJlGvBE027...,Uruguay,1178.0,Mano Arriba Lo Que Pasa en la Noche
25276071,El Equivocado,198,2018-01-31,Mano Arriba,https://open.spotify.com/track/5vy1C7DD9xJ5fRB...,Uruguay,1170.0,Mano Arriba El Equivocado
25276072,Que Fui Tu Amante,199,2018-01-31,El Gucci y Su Banda,https://open.spotify.com/track/1fmiCxwEbZFIszI...,Uruguay,1165.0,El Gucci y Su Banda Que Fui Tu Amante
25276073,Solo,200,2018-01-31,"Amenazzy, Lary Over",https://open.spotify.com/track/2rrJfOphzn4uQCK...,Uruguay,1162.0,"Amenazzy, Lary Over Solo"

In [71]:
data = data.sort_values('rank', ascending=True).drop_duplicates('concat').sort_index

In [78]:
contain_values = data[data.artist.str.contains("Ricky Martin")]
print (contain_values)

                                                      title  rank        date  \
1                               Vente Pa' Ca (feat. Maluma)     2  2017-01-01
2210877                       Fiebre (feat. Wisin & Yandel)    22  2018-03-31
20712926                                     Canción Bonita    23  2021-05-29
19281717                                     Qué Rico Fuera    51  2021-06-11
10483625                                          Tiburones    59  2020-02-24
68                              La Mordidita (feat. Yotuel)    69  2017-01-01
1759418           Vente Pa' Ca (feat. Maluma) - Urban Remix    70  2017-01-28
11427856                                         Falta Amor    75  2020-04-29
8265587                                             Cántalo    96  2019-11-15
2297370   La Copa de la Vida (La Cancion Oficial de la C...   125  2018-07-03
8652030           El Ultimo Adiós - Varios Artistas Version   127  2019-09-29
24788613                                Livin' la Vida Loca   145  2017-12-31
1055420                          Vente Pa' Ca (feat. A-Lin)   148  2017-02-17
7089675                  Amigos del Mundo (Happy Christmas)   150  2018-12-25
10483729  Tu Recuerdo (feat. La Mari De Chambao & Tommy ...   162  2020-02-24
10483730                                             Vuelve   163  2020-02-24
10483731                                            Tal Vez   164  2020-02-24
10483738                                 Disparo al Corazón   171  2020-02-24
9752388                                   Tiburones - Remix   182  2020-04-11

                                                     artist  \
1                                              Ricky Martin
2210877                                        Ricky Martin
20712926                         Carlos Vives, Ricky Martin
19281717                          Ricky Martin, Paloma Mami
10483625                                       Ricky Martin
68                                             Ricky Martin
1759418                                        Ricky Martin
11427856                      Sebastian Yatra, Ricky Martin
8265587                  Ricky Martin, Residente, Bad Bunny
2297370                                        Ricky Martin
8652030   Ricky Martin, Alejandro Sanz, Thalia, Juan Lui...
24788613                                       Ricky Martin
1055420                                        Ricky Martin
7089675            Pedrito Fernández, Ricky Martin, Tatiana
10483729                               Ricky Martin, Lamari
10483730                                       Ricky Martin
10483731                                       Ricky Martin
10483738                                       Ricky Martin
9752388                               Ricky Martin, Farruko

                                                        url     region  \
1         https://open.spotify.com/track/7DM4BPaS7uofFul...  Argentina
2210877   https://open.spotify.com/track/0oFqlgK2LJ9eMlp...      Spain
20712926  https://open.spotify.com/track/5iF33sXejXwfTui...    Ecuador
19281717  https://open.spotify.com/track/7Bd1mIvqRkIXTPA...      Chile
10483625  https://open.spotify.com/track/1zIshc2P9l5AZsO...      Chile
68        https://open.spotify.com/track/00i0O74dXdaKKdC...  Argentina
1759418   https://open.spotify.com/track/3pI6VigoXHkcL3V...      Spain
11427856  https://open.spotify.com/track/2ukaTb7sSeWHdr2...  Argentina
8265587   https://open.spotify.com/track/7MkFd0UDHlILDrh...     Panama
2297370   https://open.spotify.com/track/0KnZ3Fgnqjmz4Sl...     Sweden
8652030   https://open.spotify.com/track/0tzixmHNQfE6S6S...     Mexico
24788613  https://open.spotify.com/track/0Ph6L4l8dYUuXFm...     Poland
1055420   https://open.spotify.com/track/6Od2CkrUQYMYKu2...     Taiwan
7089675   https://open.spotify.com/track/47oukzOiH3ljgte...    Bolivia
10483729  https://open.spotify.com/track/61hJK3EfAd1LDk7...      Chile
10483730  https://open.spotify.com/track/3OK8WgNRmp4F3ah...      Chile
10483731  https://open.spotify.com/track/2VspVkHity8i4H9...      Chile
10483738  https://open.spotify.com/track/5828oiHxe6DSSAu...      Chile
9752388   https://open.spotify.com/track/73HSOVmGMA0Qfo4...     Panama

           streams                                             concat
1         223988.0           Ricky Martin Vente Pa' Ca (feat. Maluma)
2210877   115115.0         Ricky Martin Fiebre (feat. Wisin & Yandel)
20712926   19611.0          Carlos Vives, Ricky Martin Canción Bonita
19281717   76692.0           Ricky Martin, Paloma Mami Qué Rico Fuera
10483625   50904.0                             Ricky Martin Tiburones
68         34638.0           Ricky Martin La Mordidita (feat. Yotuel)
1759418    38575.0  Ricky Martin Vente Pa' Ca (feat. Maluma) - Urb...
11427856   42320.0           Sebastian Yatra, Ricky Martin Falta Amor
8265587     2513.0         Ricky Martin, Residente, Bad Bunny Cántalo
2297370    21939.0  Ricky Martin La Copa de la Vida (La Cancion Of...
8652030    84884.0  Ricky Martin, Alejandro Sanz, Thalia, Juan Lui...
24788613   12657.0                   Ricky Martin Livin' la Vida Loca
1055420     3041.0            Ricky Martin Vente Pa' Ca (feat. A-Lin)
7089675     1321.0  Pedrito Fernández, Ricky Martin, Tatiana Amigo...
10483729   25498.0  Ricky Martin, Lamari Tu Recuerdo (feat. La Mar...
10483730   25429.0                                Ricky Martin Vuelve
10483731   25307.0                               Ricky Martin Tal Vez
10483738   25044.0                    Ricky Martin Disparo al Corazón
9752388     1298.0            Ricky Martin, Farruko Tiburones - Remix

**Now that the dublicates have been removed from the dataset, the dataset is more clean and is not disturbed by the same entry multiple times**