# Creating the web scraper

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm


import re

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import csv
import requests
import json
from pandas.io.json import json_normalize
from urllib.request import urlopen
from bs4 import BeautifulSoup


from neo4j import GraphDatabase 
from py2neo import Graph,Node,Relationship

# Getting the dataset

In [3]:
data = pd.read_csv('charts.csv')

In [23]:
refined_data = data.loc[(data["rank"] == 1)]

In [24]:
new_index = [1,2,3,4,5,6,7,8,9,10,11,12,133,14,15,16,17,18,19,20]

In [25]:
new_data = refined_data.reset_index(drop = True)

In [26]:
refined_data.shape

(227253, 9)

In [27]:
index_names = new_data[new_data['trend'] == 'SAME_POSITION' ].index

Int64Index([     0,      4,      5,      6,      7,      8,      9,     10,
                11,     12,
            ...
            227242, 227243, 227244, 227245, 227246, 227247, 227249, 227250,
            227251, 227252],
           dtype='int64', length=193123)

In [28]:
new_data.drop(index_names, inplace=True)

In [29]:
new_data.shape

(34130, 9)

In [30]:
new_data

,title,rank,date,artist,url,region,chart,trend,streams
1,Starboy,1,2017-01-01,"The Weeknd, Daft Punk",https://open.spotify.com/track/5aAx2yezTd8zXrk...,Australia,top200,MOVE_UP,107350.0
2,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
3,Hey Baby,1,2017-01-01,"Dimitri Vegas & Like Mike, Diplo, Deb’s Daughter",https://open.spotify.com/track/6yc377A8qxHIjPU...,Belgium,top200,MOVE_UP,23277.0
17,Hukutaan,1,2017-01-01,Arttu Lindeman,https://open.spotify.com/track/0i8qXP5jTcu3dPf...,Finland,top200,MOVE_UP,60220.0
25,Rockabye (feat. Sean Paul & Anne-Marie),1,2017-01-01,Clean Bandit,https://open.spotify.com/track/5knuzwU65gJK7IF...,Hungary,top200,MOVE_UP,6263.0
...,...,...,...,...,...,...,...,...,...
227143,Diamond in the rough,1,2021-07-30,Arik Ancelin,https://open.spotify.com/track/54AtiA08i3sDfJY...,Iceland,viral50,MOVE_UP,NaN
227144,Aadmi Chutiya Hai,1,2021-07-30,Rahgir,https://open.spotify.com/track/2PEJKORCdmceTW2...,India,viral50,MOVE_UP,NaN
227196,Bezos I,1,2021-07-31,Bo Burnham,https://open.spotify.com/track/0Kdj7nwaYQmvhxn...,Czech Republic,viral50,MOVE_UP,NaN
227202,Paar tundi veel,1,2021-07-31,Shanon,https://open.spotify.com/track/3LM9EDiw6CtKhCt...,Estonia,viral50,MOVE_UP,NaN
227248,double take,1,2021-07-31,dhruv,https://open.spotify.com/track/2CVChktEKBsM6v4...,United Arab Emirates,viral50,MOVE_UP,NaN

In [31]:
contain_values = new_data[new_data.artist.str.contains('Shakira')]
print (contain_values)

                          title  rank        date                    artist  \
98      Chantaje (feat. Maluma)     1  2017-01-02                   Shakira
281     Chantaje (feat. Maluma)     1  2017-01-03                   Shakira
583     Chantaje (feat. Maluma)     1  2017-01-04                   Shakira
3133    Chantaje (feat. Maluma)     1  2017-01-07                   Shakira
6260    Chantaje (feat. Maluma)     1  2017-01-12                   Shakira
6779    Chantaje (feat. Maluma)     1  2017-01-14                   Shakira
7657    Chantaje (feat. Maluma)     1  2017-01-15                   Shakira
83302               Clandestino     1  2018-07-04           Shakira, Maluma
83336               Clandestino     1  2018-07-04           Shakira, Maluma
83714               Clandestino     1  2018-07-04           Shakira, Maluma
84110               Clandestino     1  2018-07-05           Shakira, Maluma
84111               Clandestino     1  2018-07-05           Shakira, Maluma
84865               Clandestino     1  2018-07-07           Shakira, Maluma
85545              La Bicicleta     1  2018-05-18     Carlos Vives, Shakira
87889               Clandestino     1  2018-06-15           Shakira, Maluma
89884               Clandestino     1  2018-09-14           Shakira, Maluma
146887                 Me Gusta     1  2020-02-03         Shakira, Anuel AA
146905                 Me Gusta     1  2020-02-03         Shakira, Anuel AA
148083                 Me Gusta     1  2020-02-07         Shakira, Anuel AA
148163                 Me Gusta     1  2020-02-08         Shakira, Anuel AA
148508                 Me Gusta     1  2020-02-09         Shakira, Anuel AA
148543                 Me Gusta     1  2020-02-10         Shakira, Anuel AA
148649                 Me Gusta     1  2020-02-10         Shakira, Anuel AA
148861             GIRL LIKE ME     1  2021-02-24  Black Eyed Peas, Shakira
149184                 Me Gusta     1  2020-02-13         Shakira, Anuel AA
149631                 Me Gusta     1  2020-02-15         Shakira, Anuel AA
149689                 Me Gusta     1  2020-02-15         Shakira, Anuel AA
149744                 Me Gusta     1  2020-02-16         Shakira, Anuel AA
149894                 Me Gusta     1  2020-02-16         Shakira, Anuel AA
149988                 Me Gusta     1  2020-02-16         Shakira, Anuel AA
174426                 Chantaje     1  2017-01-07           Shakira, Maluma
190422               Me Enamoré     1  2017-04-27                   Shakira
196053               Me Enamoré     1  2017-06-24                   Shakira

                                                      url     region    chart  \
98      https://open.spotify.com/track/6mICuAdrwEjh6Y6...   Honduras   top200
281     https://open.spotify.com/track/6mICuAdrwEjh6Y6...  Nicaragua   top200
583     https://open.spotify.com/track/6mICuAdrwEjh6Y6...   Honduras   top200
3133    https://open.spotify.com/track/6mICuAdrwEjh6Y6...     Panama   top200
6260    https://open.spotify.com/track/6mICuAdrwEjh6Y6...     Panama   top200
6779    https://open.spotify.com/track/6mICuAdrwEjh6Y6...  Argentina   top200
7657    https://open.spotify.com/track/6mICuAdrwEjh6Y6...     Panama   top200
83302   https://open.spotify.com/track/7DrluKkTviBwCc8...    Bolivia  viral50
83336   https://open.spotify.com/track/7DrluKkTviBwCc8...    Ecuador  viral50
83714   https://open.spotify.com/track/7DrluKkTviBwCc8...    Uruguay  viral50
84110   https://open.spotify.com/track/7DrluKkTviBwCc8...   Paraguay  viral50
84111   https://open.spotify.com/track/7DrluKkTviBwCc8...       Peru  viral50
84865   https://open.spotify.com/track/7DrluKkTviBwCc8...  Guatemala  viral50
85545   https://open.spotify.com/track/0Gx4VrHzS7pZOEA...    Andorra  viral50
87889   https://open.spotify.com/track/7DrluKkTviBwCc8...    Uruguay  viral50
89884   https://open.spotify.com/track/7DrluKkTviBwCc8...    Andorra  viral50
146887  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...  Nicaragua  viral50
146905  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...     Panama  viral50
148083  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...    Uruguay  viral50
148163  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...    Ecuador  viral50
148508  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...      Spain  viral50
148543  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...      Chile  viral50
148649  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...    Uruguay  viral50
148861  https://open.spotify.com/track/2vBET2pmrQqafaS...     France   top200
149184  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...   Paraguay  viral50
149631  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...      Chile  viral50
149689  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...   Paraguay  viral50
149744  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...    Andorra  viral50
149894  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...  Nicaragua  viral50
149988  https://open.spotify.com/track/5Xhqh4lwJPtMUTs...    Uruguay  viral50
174426  https://open.spotify.com/track/1WniHvhq9zTkny0...  Nicaragua  viral50
190422  https://open.spotify.com/track/4m5A5meIueOcDBp...    Andorra  viral50
196053  https://open.spotify.com/track/4qknM1pQz53QOyf...    Andorra  viral50

            trend   streams
98        MOVE_UP    5051.0
281       MOVE_UP    1977.0
583       MOVE_UP    5421.0
3133      MOVE_UP    8101.0
6260      MOVE_UP    6977.0
6779      MOVE_UP  207045.0
7657      MOVE_UP    6977.0
83302     MOVE_UP       NaN
83336     MOVE_UP       NaN
83714     MOVE_UP       NaN
84110     MOVE_UP       NaN
84111     MOVE_UP       NaN
84865     MOVE_UP       NaN
85545     MOVE_UP       NaN
87889     MOVE_UP       NaN
89884   NEW_ENTRY       NaN
146887  NEW_ENTRY       NaN
146905  NEW_ENTRY       NaN
148083    MOVE_UP       NaN
148163    MOVE_UP       NaN
148508    MOVE_UP       NaN
148543    MOVE_UP       NaN
148649    MOVE_UP       NaN
148861    MOVE_UP  189731.0
149184    MOVE_UP       NaN
149631    MOVE_UP       NaN
149689    MOVE_UP       NaN
149744    MOVE_UP       NaN
149894    MOVE_UP       NaN
149988    MOVE_UP       NaN
174426    MOVE_UP       NaN
190422  NEW_ENTRY       NaN
196053    MOVE_UP       NaN

In [13]:
#200403  I Feel It Coming
#209094   Save Your Tears
# 1 Starboy

## Reducing the amount of data

In [32]:
new_data.head()

,title,rank,date,artist,url,region,chart,trend,streams
1,Starboy,1,2017-01-01,"The Weeknd, Daft Punk",https://open.spotify.com/track/5aAx2yezTd8zXrk...,Australia,top200,MOVE_UP,107350.0
2,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
3,Hey Baby,1,2017-01-01,"Dimitri Vegas & Like Mike, Diplo, Deb’s Daughter",https://open.spotify.com/track/6yc377A8qxHIjPU...,Belgium,top200,MOVE_UP,23277.0
17,Hukutaan,1,2017-01-01,Arttu Lindeman,https://open.spotify.com/track/0i8qXP5jTcu3dPf...,Finland,top200,MOVE_UP,60220.0
25,Rockabye (feat. Sean Paul & Anne-Marie),1,2017-01-01,Clean Bandit,https://open.spotify.com/track/5knuzwU65gJK7IF...,Hungary,top200,MOVE_UP,6263.0

In [15]:
#new_data = new_data.drop(new_data[new_data.index > 20].index)                          # Using logical condition

In [33]:
new_data.shape

(34130, 9)

In [17]:
new_data.iloc[140087:140100,:]

Empty DataFrame
Columns: [title, rank, date, artist, url, region, chart, trend, streams]
Index: []

In [18]:
new_data

,title,rank,date,artist,url,region,chart,trend,streams
1,Starboy,1,2017-01-01,"The Weeknd, Daft Punk",https://open.spotify.com/track/5aAx2yezTd8zXrk...,Australia,top200,MOVE_UP,107350.0
2,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
3,Hey Baby,1,2017-01-01,"Dimitri Vegas & Like Mike, Diplo, Deb’s Daughter",https://open.spotify.com/track/6yc377A8qxHIjPU...,Belgium,top200,MOVE_UP,23277.0
17,Hukutaan,1,2017-01-01,Arttu Lindeman,https://open.spotify.com/track/0i8qXP5jTcu3dPf...,Finland,top200,MOVE_UP,60220.0

# Extracting artist and track name

In [34]:
def get_track_name(nr):
    

    track_string = str(new_data.title[nr])
    
    x = track_string.find(" (")
    #y = artist_string.find("'")
    
    if(int(x) < 0):
        track_string = track_string
    else:
        track_string = track_string[:x]
    
    return track_string



def get_track_artist(nr):
    
    artist_string = str(new_data.artist[nr])

    y = artist_string.find(", ")
    x = artist_string.find(" (")
    
    if(int(x) > 0):
        artist_string = artist_string.replace("' ", "")

    if(int(y) > 0):
        #artist_string = y
        artist_string = artist_string[:y]     
        
    return artist_string

In [59]:
get_track_name(209094)

'Save Your Tears'

In [60]:
get_track_artist(209094)

'The Weeknd'

# Getting URL

In [65]:
def get_url(track_nr):
    
    track = str(get_track_name(track_nr))
    artist = str(get_track_artist(track_nr))
    
    x = track.find(" ")
    y = artist.find(" ")
    
    if (int(artist.find(" ")) > 0):
        artist = artist.replace(" ", "-")
        
    if (int(track.find(" ")) > 0):
        track = track.replace(" ", "-")
        
    
    
    url_string = str('https://genius.com/' + artist + '-' + track + '-lyrics')
    
    return str(url_string)

In [66]:
get_url(209094)

'https://genius.com/The-Weeknd-Save-Your-Tears-lyrics'

# Scraping credits

In [67]:
def extract_credits(URL):
    
    # "https://genius.com/Shakia-chantaje-lyrics" <- url to check for raised exception
    
    r = requests.get(URL)
    
    if (int(r.status_code) == 200):


        # Parsing the HTML
        soup = BeautifulSoup(r.content, 'html.parser')
        s = soup.find('div', class_='SongInfo__Columns-nekw6x-2 lgBflw')


        featur = []
        writer = []
        label = []
        producer = []

        for line in s:
            div = line.find('div').text
            an = line.find_all('a')


            if 'Featuring' in div: 
                extract = [x.text for x in an]
                for x in extract:
                    featur.append(x)



            if 'Written By' in div:
                extract = [x.text for x in an]
                for x in extract:
                    writer.append(x)



            if 'Label' in div:
                extract = [x.text for x in an]
                for x in extract:
                    label.append(x)

            if 'Produced By' in div:
                extract = [x.text for x in an]
                for x in extract:
                    producer.append(x)

    else:
        raise Exception("Sorry, no numbers below zero") 

    collection = {"Feature":featur, "Writer":writer, "Label":label, "Producer":producer}        
        
        
    return collection

In [77]:
#extLis = extract_credits(get_url(218900))
#extLis = extract_credits(get_url(200403))
#extLis = extract_credits(get_url(98))
extLis = extract_credits(get_url(1))

# Dict to csv

In [78]:
credit_list = pd.DataFrame.from_dict(extLis, orient='index').T

In [79]:
df = pd.DataFrame.from_dict(credit_list) 
df.to_csv (r'C:\Users\Nmtur\.Neo4jDesktop\relate-data\dbmss\dbms-20b18527-223b-4ada-8e62-429ad982fc9b\import\collaborators.csv', index = False, header=True)

In [80]:
df

     Feature                       Writer                  Label      Producer
0  Daft Punk  Guy-Manuel de Homem-Christo             XO Records     Daft Punk
1       None             Thomas Bangalter  Universal Music Group        Cirkut
2       None                      DaHeala       Republic Records  Doc McKinney
3       None                   The Weeknd                   None    The Weeknd
4       None                 Doc McKinney                   None          None
5       None                       Cirkut                   None          None

***

# Neo4j

In [53]:
# Create connection to database

class neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
                print("Failed to create the driver: ", e)
                
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.__driver.session(database=db) if db is not None else self.__driver.session()
            response = list(session.run(query))
        except Exception as e:
            print("Query failed!", e)
        finally:
            if session is not None:
                session.close()
        return response
    
    def close(self):
        if self.__driver is not None:
            self.__driver.close()

In [55]:
# Connecting to database
conn = neo4jConnection(uri="bolt://localhost:7687", user="neo4j", pwd="test123")

In [56]:
conn.query('''MATCH (n) RETURN n;''')

[]

In [75]:
artist = get_track_artist(209094)
track = get_track_name(209094)
track

'Save Your Tears'

In [76]:
artist

'The Weeknd'

### Different querys depending on the information in the csv file

In [85]:
conn.query('''CALL apoc.load.csv('collaborators.csv')
YIELD lineNo, map, list
WHERE map.Feature IS NOT NULL
MERGE (f:Person {name:map.Feature})
MERGE (a:Person {name:"The Weeknd"})
MERGE (w:Person {name:map.Writer})
MERGE (p:Person {name:map.Producer})
MERGE (l:Label {name:map.Label})
MERGE (s:Song {name:"Starboy"})
MERGE (f)-[:COLLABORATED]-(a)
MERGE (f)-[:FEATURED]->(s)
MERGE (a)-[:SANG]->(s)
MERGE (w)-[:WROTE]->(s)
MERGE (l)-[:RELEASED]->(s)
MERGE (p)-[:PRODUCED]->(s);
''')

[]

In [87]:
conn.query('''MATCH (f:Person) WHERE (f.name = "") detach delete f;''')

[]

In [88]:
conn.query('''MATCH (l:Label) WHERE (l.name = "") detach delete l;''')

[]

In [89]:
def run_querys():
    conn.query('''CALL apoc.load.csv('collaborators.csv')
    YIELD lineNo, map, list
    WHERE map.Feature IS NOT NULL
    MERGE (f:Person {name:map.Feature})
    MERGE (a:Person {name:"The Weeknd"})
    MERGE (w:Person {name:map.Writer})
    MERGE (p:Person {name:map.Producer})
    MERGE (l:Label {name:map.Label})
    MERGE (s:Song {name:"Starboy"})
    MERGE (f)-[:COLLABORATED]-(a)
    MERGE (f)-[:FEATURED]->(s)
    MERGE (a)-[:SANG]->(s)
    MERGE (w)-[:WROTE]->(s)
    MERGE (l)-[:RELEASED]->(s)
    MERGE (p)-[:PRODUCED]->(s);
    ''')
    
    conn.query('''MATCH (f:Person) WHERE (f.name = "") detach delete f;''')
    
    conn.query('''MATCH (l:Label) WHERE (l.name = "") detach delete l;''')

In [91]:
run_querys()

In [634]:
# 200403
conn.query('''LOAD CSV WITH HEADERS FROM "file:///collaborators.csv" AS row
WITH row WHERE row.Feature IS NOT NULL
MERGE (a:Person {name:row.Feature, title:"Artist"})
MERGE (a1:Person {name:"''' + artist + '''", title:"Artist"})
MERGE (l:Label {name:row.Label})
CREATE (s:Song {name:"''' + track + '''"})
MERGE (a)-[:COLLABORATED]-(a1)
MERGE (a)-[:FEATURED]->(s)<-[:SANG]-(a1)
MERGE (l)-[:RELEASED]->(s)
''')

Query failed! {code: Neo.ClientError.Statement.SemanticError} {message: Cannot merge the following node because of null property value for 'name': (:Label {name: null})}

In [620]:
# WITHOUT FEATURE
# 218900
conn.query('''LOAD CSV WITH HEADERS FROM "file:///collaborators.csv" AS row

WITH row WHERE row.Label IS NOT NULL
MERGE (l:Label {name:row.Label})

MERGE (p:Person {name:"''' + artist + '''", title:"Artist"})

MERGE (s:Song {name:"''' + track + '''"})

MERGE (p)-[:SANG]->(s)
MERGE (l)-[:RELEASED]->(s)
''')

[]

In [635]:
conn.query('''LOAD CSV WITH HEADERS FROM "file:///collaborators.csv" AS row
WITH row WHERE row.Feature IS NOT NULL
MERGE (a:Person {name:row.Feature, title:"Artist"})
MERGE (a1:Person {name:"''' + artist + '''", title:"Artist"})
CREATE (s:Song {name:"''' + track + '''"})
MERGE (a)-[:COLLABORATED]-(a1)
MERGE (a)-[:FEATURED]->(s)<-[:SANG]-(a1)
''')

[]

In [536]:
df

  Feature        Writer             Label      Producer
0    None    The Weeknd        XO Records  Oscar Holter
1    None         Belly  Republic Records    Max Martin
2    None       DaHeala              None    The Weeknd
3    None  Oscar Holter              None          None
4    None    Max Martin              None          None