# Creating the web scraper

In [291]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm


import re

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import csv
import requests
import json
from pandas.io.json import json_normalize
from urllib.request import urlopen
from bs4 import BeautifulSoup


from neo4j import GraphDatabase 
from py2neo import Graph,Node,Relationship

# Getting the dataset

In [61]:
data = pd.read_csv('charts.csv')

In [335]:
refined_data = data.loc[(data["rank"] == 1)]

In [327]:
new_index = [1,2,3,4,5,6,7,8,9,10,11,12,133,14,15,16,17,18,19,20]

In [355]:
new_data = refined_data.reset_index(drop = True)

In [356]:
refined_data.shape

(227253, 9)

In [357]:
index_names = new_data[new_data['trend'] == 'SAME_POSITION' ].index

In [359]:
new_data.drop(index_names, inplace=True)

In [360]:
new_data.shape

(34130, 9)

In [364]:
new_data[new_data['artist'] == 'The Weeknd' ].index

Int64Index([   469,   1184,   3255,   3317,   3631,   4007,   5528,   5780,
              6005,   6194,
            ...
            162475, 163287, 163700, 163963, 178545, 179500, 199986, 209094,
            217979, 218900],
           dtype='int64', length=310)

## Reducing the amount of data

In [330]:
new_data.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Starboy,1,2017-01-01,"The Weeknd, Daft Punk",https://open.spotify.com/track/5aAx2yezTd8zXrk...,Australia,top200,MOVE_UP,107350.0
2,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
3,Hey Baby,1,2017-01-01,"Dimitri Vegas & Like Mike, Diplo, Deb’s Daughter",https://open.spotify.com/track/6yc377A8qxHIjPU...,Belgium,top200,MOVE_UP,23277.0
4,Reggaetón Lento (Bailemos),1,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Bolivia,top200,SAME_POSITION,6784.0

In [331]:
new_data = new_data.drop(new_data[new_data.index > 20].index)                          # Using logical condition

In [332]:
new_data.shape

(21, 9)

In [354]:
new_data.iloc[140087:140100,:]

,title,rank,date,artist,url,region,chart,trend,streams
140087,Falling,1,2019-12-05,Trevor Daniel,https://open.spotify.com/track/4TnjEaWOeW0eKTK...,Egypt,viral50,SAME_POSITION,NaN
140088,Tusa,1,2019-12-05,"KAROL G, Nicki Minaj",https://open.spotify.com/track/7k4t7uLgtOxPwTp...,El Salvador,viral50,SAME_POSITION,NaN
140089,Falling,1,2019-12-05,Trevor Daniel,https://open.spotify.com/track/4TnjEaWOeW0eKTK...,Estonia,viral50,SAME_POSITION,NaN
140090,Falling,1,2019-12-05,Trevor Daniel,https://open.spotify.com/track/4TnjEaWOeW0eKTK...,Finland,viral50,SAME_POSITION,NaN
140091,Bim Bam toi,1,2019-12-05,Carla,https://open.spotify.com/track/33NTeQz7sVYLmkJ...,France,viral50,MOVE_UP,NaN
140092,Falling,1,2019-12-05,Trevor Daniel,https://open.spotify.com/track/4TnjEaWOeW0eKTK...,Germany,viral50,MOVE_UP,NaN
140093,Lebih Dari Egoku,1,2019-12-05,Mawar de Jongh,https://open.spotify.com/track/4vh193RZbEEBanS...,Global,viral50,SAME_POSITION,NaN
140094,Falling,1,2019-12-05,Trevor Daniel,https://open.spotify.com/track/4TnjEaWOeW0eKTK...,Greece,viral50,SAME_POSITION,NaN
140095,Jenny (I Wanna Ruin Our Friendship),1,2020-12-07,Studio Killers,https://open.spotify.com/track/7lgA34nFXxjqQgy...,Iceland,viral50,MOVE_UP,NaN
140096,501,1,2021-03-14,"Bilal Wahib, Ronnie Flex",https://open.spotify.com/track/0Fl4PBfIwC5G1IQ...,Netherlands,top200,SAME_POSITION,304282.0
140097,RÉT,1,2020-12-07,"Azahriah, DESH",https://open.spotify.com/track/7EQq2RCCbFOR7Xn...,Hungary,viral50,SAME_POSITION,NaN
140098,"Sibelius: Masonic Ritual Music, Op. 113: XII. ...",1,2020-12-07,"Jean Sibelius, YL Male Voice Choir, Matti Hyokki",https://open.spotify.com/track/2S8mEXlAIRin5l0...,Finland,viral50,SAME_POSITION,NaN
140099,Tusa,1,2019-12-05,"KAROL G, Nicki Minaj",https://open.spotify.com/track/7k4t7uLgtOxPwTp...,Guatemala,viral50,SAME_POSITION,NaN

In [342]:
new_data

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Starboy,1,2017-01-01,"The Weeknd, Daft Punk",https://open.spotify.com/track/5aAx2yezTd8zXrk...,Australia,top200,MOVE_UP,107350.0
2,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
3,Hey Baby,1,2017-01-01,"Dimitri Vegas & Like Mike, Diplo, Deb’s Daughter",https://open.spotify.com/track/6yc377A8qxHIjPU...,Belgium,top200,MOVE_UP,23277.0
4,Reggaetón Lento (Bailemos),1,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Bolivia,top200,SAME_POSITION,6784.0
...,...,...,...,...,...,...,...,...,...
227248,double take,1,2021-07-31,dhruv,https://open.spotify.com/track/2CVChktEKBsM6v4...,United Arab Emirates,viral50,MOVE_UP,NaN
227249,Diamond in the rough,1,2021-07-31,Arik Ancelin,https://open.spotify.com/track/54AtiA08i3sDfJY...,United Kingdom,viral50,SAME_POSITION,NaN
227250,Diamond in the rough,1,2021-07-31,Arik Ancelin,https://open.spotify.com/track/54AtiA08i3sDfJY...,United States,viral50,SAME_POSITION,NaN
227251,Beggin',1,2021-07-31,Måneskin,https://open.spotify.com/track/3Wrjm47oTz2sjIg...,Uruguay,viral50,SAME_POSITION,NaN
227252,Beneath the Rain,1,2021-07-31,Nom Tunes,https://open.spotify.com/track/6ZHU9U1sN9raVSm...,Vietnam,viral50,SAME_POSITION,NaN

# Extracting artist and track name

In [199]:
def get_track_name(nr):
    

    track_string = str(new_data.title[nr])
    
    x = track_string.find(" (")
    #y = artist_string.find("'")
    
    if(int(x) < 0):
        track_string = track_string
    else:
        track_string = track_string[:x]
    
    return track_string



def get_track_artist(nr):
    
    artist_string = str(new_data.artist[nr])

    y = artist_string.find(", ")
    x = artist_string.find(" (")
    
    if(int(x) > 0):
        artist_string = artist_string.replace("' ", "")

    if(int(y) > 0):
        #artist_string = y
        artist_string = artist_string[:y]     
        
    return artist_string

In [201]:
get_track_name(1)

'Starboy'

In [202]:
get_track_artist(1)

'The Weeknd'

# Getting URL

In [240]:
def get_url(track_nr):
    
    track = str(get_track_name(track_nr))
    artist = str(get_track_artist(track_nr))
    
    x = track.find(" ")
    y = artist.find(" ")
    
    if (int(artist.find(" ")) > 0):
        artist = artist.replace(" ", "-")
        
    if (int(track.find(" ")) > 0):
        track = track.replace(" ", "-")
        
    
    
    url_string = str('https://genius.com/' + artist + '-' + track + '-lyrics')
    
    return str(url_string)

In [241]:
get_url(1)

'https://genius.com/The-Weeknd-Starboy-lyrics'

# Scraping credits

In [262]:
def extract_credits(URL):
    
    # "https://genius.com/Shakia-chantaje-lyrics" <- url to check for raised exception
    
    r = requests.get(URL)
    
    if (int(r.status_code) == 200):


        # Parsing the HTML
        soup = BeautifulSoup(r.content, 'html.parser')
        s = soup.find('div', class_='SongInfo__Columns-nekw6x-2 lgBflw')


        featur = []
        writer = []
        label = []
        producer = []

        for line in s:
            div = line.find('div').text
            an = line.find_all('a')


            if 'Featuring' in div: 
                extract = [x.text for x in an]
                for x in extract:
                    featur.append(x)



            if 'Written By' in div:
                extract = [x.text for x in an]
                for x in extract:
                    writer.append(x)



            if 'Label' in div:
                extract = [x.text for x in an]
                for x in extract:
                    label.append(x)

            if 'Produced By' in div:
                extract = [x.text for x in an]
                for x in extract:
                    producer.append(x)

    else:
        raise Exception("Sorry, no numbers below zero") 

    collection = {"Feature":featur, "Writer":writer, "Label":label, "Producer":producer}        
        
        
    return collection

In [266]:
extLis = extract_credits(get_url(1))

# Dict to csv

In [267]:
credit_list = pd.DataFrame.from_dict(extLis, orient='index').T

In [305]:
df = pd.DataFrame.from_dict(credit_list) 
df.to_csv (r'C:\Users\Nmtur\.Neo4jDesktop\relate-data\dbmss\dbms-20b18527-223b-4ada-8e62-429ad982fc9b\import\test8.csv', index = False, header=True)

***

# Neo4j

In [285]:
# Create connection to database

class neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
                print("Failed to create the driver: ", e)
                
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.__driver.session(database=db) if db is not None else self.__driver.session()
            response = list(session.run(query))
        except Exception as e:
            print("Query failed!", e)
        finally:
            if session is not None:
                session.close()
        return response
    
    def close(self):
        if self.__driver is not None:
            self.__driver.close()

In [295]:
# Connecting to database
conn = neo4jConnection(uri="bolt://localhost:7687", user="neo4j", pwd="test123")

In [296]:
conn.query('''MATCH (n) RETURN n;''')

[<Record n=<Node id=0 labels=frozenset({'Person'}) properties={'name': 'Maluma', 'title': 'Artist'}>>,
 <Record n=<Node id=1 labels=frozenset({'Person'}) properties={'name': 'Ricky Martin', 'title': 'Artist'}>>,
 <Record n=<Node id=2 labels=frozenset({'Label'}) properties={'name': 'Sony Music'}>>,
 <Record n=<Node id=3 labels=frozenset({'Song'}) properties={'name': "Vente Pa' Ca"}>>,
 <Record n=<Node id=4 labels=frozenset({'Label'}) properties={'name': 'Sony Music'}>>,
 <Record n=<Node id=5 labels=frozenset({'Song'}) properties={'name': "Vente Pa' Ca", 'writers': 'Ronny Svendsen'}>>]

In [302]:
artist = get_track_artist(1)
track = get_track_name(1)

str

In [306]:
conn.query('''LOAD CSV WITH HEADERS FROM "file:///test8.csv" AS row
WITH row WHERE row.Feature IS NOT NULL
MERGE (a:Person {name:row.Feature, title:"Artist"})
MERGE (a1:Person {name:"''' + artist + '''", title:"Artist"})
CREATE (l:Label {name:row.Label})
CREATE (s:Song {name:"''' + track + '''"})
MERGE (a)-[:COLLABORATED]-(a1)
MERGE (a)-[:FEATURED]->(s)<-[:SANG]-(a1)
MERGE (l)-[:RELEASED]->(s)
''')

[]